#diverList1, #diverList2 {
	width: 250px;
	margin-top: -40px;
}

.diverListsDiv {
	margin-top: -40px;
}

.selectDiv2 {
	margin-top: -20px;
}

#removeDiver1, #removeDiver2 {
	height: 24px;
	width: 24px;
	margin-top: -90px;
	margin-left: 0px;
}

#addDiver1, #addDiver2 {
	height: 24px;
	width: 24px;
	margin-top: -90px;
	margin-left: 0px;
}

#moveDiver1, #moveDiver2 {
	height: 24px;
	width: 24px;
	margin-top: -90px;
	margin-left: 157px;
}

#diverInfo {
	margin-left: 255px;
	margin-top: -430px;
}

#diverOrder, #wcDiverOrder {
	margin-left: -30px;
	margin-top: -15px;
	width: 200px;
}

#qualifyingList, #wcDiverList {
	margin-left: -5px;
	margin-top: -3px;
	padding-right: 0px;
	padding-bottom: 2px;
	width: 210px;
	font-size: smaller;
}

#previousDiver, #nextDiver, #wcPreviousDiver, #wcNextDiver , #wcNextRound {
	height: 24px;
	width: 24px;
	margin-top: 5px;
}

#pDiver, #nDiver, #wcPDiver, #wcNDiver {
	height: 24px;
	width: 24px;
	margin-top: -5px;
}

#pDiver, #wcPDiver {
	margin-left: 15px;
}

#previousDiver, #wcPreviousDiver {
	margin-left: 75px;
}

#currentRoundDiv, #wcCurrentRoundDiv {
	margin-left: 210px;
    margin-top: -470px;
}

#leaderboardsDiv {
	margin-left: 212px;
	margin-top: 5px;
}

#bracketsDiv {
    margin-left: 212px;
	margin-top: 5px;
	background-image: url("snowflake.png");
}

#leaderboards, #wcLeaderboards {
   border: 3px solid #E5B025;	
}

table#bracketsTable table tbody tr td{
	border-collapse: collapse;
	border-style: none;
}

table, thead, tr, td {
   border: 2px solid black;
   border-collapse: collapse;
   padding-left: 5px;
   padding-right: 3px;
}

.score {
	text-align: center;
}

td {
	vertical-align: top;
}

#title {
	vertical-align: center;
	font-size: xx-large;
}

.label {
	font-size: xx-small;
}

.turkeyimg {
    max-width: 5%;
}

div#shootoutstuff {
    margin-top: -500px;
    margin-left: 220px;
}